[submodule "LanternLib"]
	path = LanternLib
	url = https://github.com/RedCraft86/LanternLib.git
[submodule "OddsAndEnds"]
	path = OddsAndEnds
	url = https://github.com/RedCraft86/OddsAndEnds.git
[submodule "InfernalReaches"]
	path = InfernalReaches
	url = https://github.com/RedCraft86/InfernalReaches.git
[submodule "EtherealExpanse"]
	path = EtherealExpanse
	url = https://github.com/RedCraft86/EtherealExpanse.git
